/* This is a stopgap file until Venmo bootstrap is built out */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.site {
  width: auto;
  max-width: 650px;
  padding: 10px;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 450px) {
  .site {
    margin-top: 1em;
  }
}

a, a:visited {
  color: #3d95ce;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3d95ce;
}

/* Header/Nav */

.header {
  margin-bottom: 2em;
}

  .header a.extra {
    margin-left: 0;
    margin-right: 22px;
  }

  .header h1.title {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 100;
  }

    .header h1.title a {
      text-decoration: none;
      color: #3d95ce;
    }

    .header h1.title a:hover {
      color: #3d95ce;
    }

/* Posts */

.post {
  letter-spacing: .02em;
  font-size: 16px;
  font-weight: 200;
}

  .post p {
    line-height: 1.6em;
    margin: 20px 0;
  }

  .post ul, .post ol {
    margin-bottom: 20px;
  }

h2 {
  font-size: 1.17em;
}

.pagination {
  text-align: right;
}
